body {
    display: flex;
    flex-direction: column;
    background:linear-gradient( to bottom, #bcc6cc, #eee, #bcc6cc);
    overflow-x: hidden;
    padding: auto;
    font-family: "poppins","sans-serif";
    flex-wrap: wrap;

}

h3 {
    font-size: 1.5rem;
}

header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    z-index: 99;
    width: 100%;
    height: 6rem;
    padding: 20px;
    

}

nav {
    font-size: 20px;
    color:white;
    align-content: center;
    align-items: center;

}

main {
    text-align: center;
    padding-bottom: 6rem;
}

section{
    align-items: center;

}

section h2 {
    margin-right: 2rem;
    margin-left: 10rem;
    font-size: 5rem;
}


a {
    color:white;
    text-decoration: none;
}

footer {
    order: 99;
    width: 100%;
    height: 6rem;
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    color:white;
}

.name{
    display: flex;
    width: 60%;
    font-size: 50px;
    color: white;
}

.hero{
    padding:12rem;
    height: 100vh;
    margin: 2rem 0 4rem 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://images.unsplash.com/photo-1500417148159-68083bd7333a) center center no-repeat;
    background-size: cover;
}

.hero h1{
    color: white;
    font-size: 10rem;
    width: 25%;
}

.hero h1::selection{
    display: none;
}

.hero p::selection{
    display: none;
}

.hero p{
    color:white;
    font-size: 3rem;
}

.nav-right {
    float: right;
    font-size: 26px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 1rem auto;
  }


  .nav-btn {
    flex: 1 1 auto;
    color:black;
    margin: .25rem;
    padding: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    transition: .25s;
    background-size: 200% auto;
    border-radius: 10px;
    background-image: linear-gradient(to right,#84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}


.nav-btn:hover{
    background-position: right center;
}

.nav-right li {
    display: inline;
   
}

.nav-right a {
    justify-content: space-between;
    
}

.about{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about h2{
    position: relative;
    left: -10rem;
}

.about-text{
    position: relative;
    left: -10.2rem;
    text-align: left;
    padding-left: 5rem;
    width: 50%; 
    border-left: solid #8fd3f4;
    border-width: .3rem;

}

.work{
    display: flex;
    height: 65rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    /* border: solid gold; */
}

.work-tiles{
    border-left: solid #8fd3f4;
    padding-bottom: 49.5rem;
    height: 45rem;
    border-width: .3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.banner{
    position: relative;
    bottom: -1.5rem;
    left: -2.2rem;
    height: 4rem;
    width: 45%;
    background:linear-gradient(45deg,#84fab0 0%, #8fd3f4 51%, #84fab0 100%);
    /* border: solid purple; */
}

.banner p{
    font-size: 14px;
}

.big-tile{
    display: flex;
    height: 30rem;
    order: 1;
    width: 81.5%;
    border-style: solid;
    border-width: .75rem;
    border-image: linear-gradient(45deg,#84faaf 0%, #8fd3f4 51%, #84fab0 100%) 1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://www.surfertoday.com/images/stories/glossary-of-surfing.jpg),   no-repeat;
    background-size: cover;

}



.big-tile .banner {
    position: relative;
    padding: .5rem;
    bottom: -22rem;
    left: 0;
    width: 25%;
}

.regular-tiles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    order: 2;
    justify-content: center;
    /* border: solid greenyellow; */
}

 .tile{
     display: flex;
     margin: .25rem .5rem .25rem .5rem;
     width: 40%;
     padding: 2rem;
     border: solid red;
 }

 .contact{
     display: flex;
     height: 10rem;
     width: 100%;
     align-content: center;
     justify-content: center;
 }

 .contact h2{
     position: relative;
     left: -8rem;
 }

 .contact ul{
     position: relative;
     left: -7.8rem;
     padding: 2rem 0 2rem 5rem;
     border-left: solid #8fd3f4;
     border-width: .3rem;
 }

 .contact li{
     font-size: 2rem;
     display: inline-flex;
     margin: 0 4rem 0 4rem;
     border-bottom: solid black;

 }

 .contact a{
     color: black;
 }

 #tile1{
     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://onewayeventproductions.com/wp-content/uploads/2020/02/AdobeStock_289192813.jpeg), no-repeat;
     border-image: linear-gradient(45deg,#84faaf 0%, #8fd3f4 51%, #84fab0 100%) 1;
     border-width: .75rem;
 }

 #tile2{
     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.insider.com/5a4bdbd41cbadd4b008b456b?width=1000&format=jpeg&auto=webp), no-repeat;
     border-image: linear-gradient(45deg,#84faaf 0%, #8fd3f4 51%, #84fab0 100%) 1;
     border-width: .75rem;
 }

 #tile3{
     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1564115484-a4aaa88d5449?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGFzdGVsJTIwY29sb3JzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80), no-repeat;
     border-image: linear-gradient(45deg,#84faaf 0%, #8fd3f4 51%, #84fab0 100%) 1;
     border-width: .75rem;
 }

 #tile4{
     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://36iusc2tb88y2g492si2bqd1-wpengine.netdna-ssl.com/wp-content/uploads/2019/12/man-running-fast.jpg), center center;
     border-image: linear-gradient(45deg,#84faaf 0%, #8fd3f4 51%, #84fab0 100%) 1;
     border-width: .75rem;
 }

.cool-pic {
    display: block;
    margin-right: auto;
    margin-left: auto;
    opacity: 90%;
}